*.iml
*.jks

.DS_Store
.externalNativeBuild
.gradle

/build
/captures
/local.properties

/.idea/libraries
/.idea/caches
/.idea/shelf
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/workspace.xml